

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');


@font-face {
    font-family: 'Pre';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}


@font-face {
    font-family: 'Pre';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

